<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727"/>
    </startup>
    <appSettings>
      <add key="Key0" value="الدكتور _ _ محمد احمد محمد _ _ اختصاصي جراحة القلب والصدر والاوعية الدموية _ زميل المجلس العراقي للأختصاصات الطبية_ M. B. Ch. B." />
      <add key="Key10" value="رقم التسجيل: 1111 في 01\01\2001 _ العيادة: بغداد - شارع السعدون - مقابل صيديلة احمد"  />
    </appSettings>
</configuration>
